<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <a href="@Url.Action("FiniteStateAutomaton","Home")" class="logo">
                    <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                    <span class="logo-large"><i class="mdi mdi-radar"></i> Automata and Logic Engineering</span>
                </a>
                <!-- Image Logo -->
                <!--<a href="index.html" class="logo">-->
                <!--<img src="assets/images/logo_dark.png" alt="" height="24" class="logo-lg">-->
                <!--<img src="assets/images/logo_sm.png" alt="" height="24" class="logo-sm">-->
                <!--</a>-->

            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>




                </ul>
            </div>
            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="@Url.Action("FiniteStateAutomaton","Home")">NFA / DFA</a>
                    </li>

                    <li class="has-submenu">
                        <a href="@Url.Action("PDA","Home")">PDA</a>
                    </li>



                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->