@using Newtonsoft.Json
@model AutomataViewModel



<div id="automaton" class="card-box mt-4"></div>

@section Scripts{
    <script type="text/javascript">
        var nodes = new vis.DataSet(

            @Html.Raw(JsonConvert.SerializeObject(Model.Nodes))
        );

        // create an array with edges
        var edges = new vis.DataSet(
            @Html.Raw(JsonConvert.SerializeObject(Model.Edges))
        );

        // create a network
        var container = document.getElementById('automaton');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {
            autoResize: true,
            height: '100%',
            width: '100%',
            clickToUse: true,
            //configure: {
            //    enabled: false,
            //    filter: 'nodes,edges',
            //    showButton: false
            //},    // defined in the configure module.
            edges: {
                arrows: {
                    to: { enabled: false, scaleFactor: 1, type: 'arrow' },
                    middle: { enabled: false, scaleFactor: 1, type: 'arrow' },
                    from: { enabled: false, scaleFactor: 1, type: 'arrow' }
                },
                color: {
                    color: '#5C4B51',
                    highlight: '#5C4B51',
                    hover: '#5C4B51',
                    inherit: 'from',
                    opacity: 1.0
                },
                font: {
                    color: '#000',
                    size: 14, // px
                    face: 'arial',
                    background: 'none',
                    strokeWidth: 2, // px
                    strokeColor: '#ffffff',
                    align: 'horizontal',
                    multi: false,
                    vadjust: 0,

                },
                smooth: {
                    enabled: true,
                    type: "dynamic",
                    roundness: 0.5
                },

                width: 2,
                shadow: true
            },        // defined in the edges module.
            nodes: {
                shape: 'ellipse',
                size: 30,
                font: {
                    size: 20
                },
                borderWidth: 2,
                shadow: true,
                color: {
                    border: '#5C4B51',
                    background: '#F2EBBF',
                    highlight: {
                        border: '#5C4B51',
                        background: '#F2EBBF'
                    },
                    hover: {
                        border: '#5C4B51',
                        background: '#F2EBBF'
                    }
                }
            },        // defined in the nodes module.
            groups: {

            },       // defined in the groups module.
            layout: {
                hierarchical: {
                    //enabled:false,
                    //levelSeparation: 150,
                    //nodeSpacing: 100,
                    //treeSpacing: 200,
                    //blockShifting: true,
                    //edgeMinimization: false,
                    //parentCentralization: false,
                    direction: 'RL'        // UD, DU, LR, RL
                    //sortMethod: 'hubsize'   // hubsize, directed
                }
            },       // defined in the layout module.
            interaction: {
                dragNodes: true,
                dragView: true,
                hideEdgesOnDrag: false,
                hideNodesOnDrag: false,
                hover: true,
                hoverConnectedEdges: true,
                keyboard: {
                    enabled: false,
                    speed: { x: 10, y: 10, zoom: 0.02 },
                    bindToWindow: true
                },
                multiselect: false,
                navigationButtons: true,
                selectable: true,
                selectConnectedEdges: true,
                tooltipDelay: 300,
                zoomView: true
            },  // defined in the interaction module.
            manipulation: {
                enabled: false,
                initiallyActive: false,
                addNode: false,
                addEdge: false,
                //editNode: undefined,
                editEdge: false,
                deleteNode: false,
                deleteEdge: false
            } // defined in the manipulation module.
        }

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
}